## Importing Libraries
* **pandas**: For data manipulation and analysis
* **sklearn.cluster**: For clustering algorithms 
* **sklearn.model_selection**: For splitting the dataset into training and testing sets 
* **sklearn.ensemble**: For building ensemble models 
* **scipy.cluster.hierarchy**: For hierarchical clustering algorithms 
* **matplotlib.pyplot**: For data visualization 
* **seaborn**: For creating attractive and informative statistical graphics 
* **random**: For generating random numbers 
* **numpy**: For numerical computing

In [2]:
import pandas as pd
from sklearn.cluster import AgglomerativeClustering
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from scipy.spatial.distance import cdist
import random as rd
import numpy as np
import math
import matplotlib.pyplot as plt
import os

## Reading in the input data

In [3]:
# Load the data
try:
    data = pd.read_csv("dataset.csv")
except FileNotFoundError:
    print("Could not find the input file. Please check the file path and try again.")
    exit()

## Viewing the first few rows of the data

In [4]:
data.head()

      device_name  min_consumption  max_consumption  device_age
0            bulb            100.0            120.0           3
1  LED TV 42 INCH             58.0             60.0           5
2  3''belt sander           1000.0           1000.0           4
3      Air cooler             65.0             80.0           4
4    Air purifier             25.0             30.0           3

## Getting values for input_power, working_hours, and output_power

This code cell generates values for the `input_power`, `working_hours`, and `output_power` columns of the `data` DataFrame based on the `min_consumption` and `max_consumption` columns.

In [5]:
min_c = data['min_consumption'].values
max_c = data['max_consumption'].values
random_consumption = [rd.uniform(min_c[i], max_c[i]) for i in range(len(min_c))]
working_hours = []
for i in range(len(min_c)):
    random_hours = rd.randint(0,24)
    working_hours.append(random_hours)
data['input_power'] = random_consumption
data['working_hours'] = working_hours
output_power = []
for i in range(len(min_c)):
    output_power.append(rd.uniform(random_consumption[i] * 0.70 , random_consumption[i]))
    output_power[i] = output_power[i]
data['output_power'] = output_power 
data.head()

,device_name,min_consumption,max_consumption,device_age,input_power,working_hours,output_power
0,bulb,100.0,120.0,3,100.310967,3,89.648287
1,LED TV 42 INCH,58.0,60.0,5,58.737271,10,56.690422
2,3''belt sander,1000.0,1000.0,4,1000.000000,8,734.753019
3,Air cooler,65.0,80.0,4,70.680072,22,53.410833
4,Air purifier,25.0,30.0,3,29.242760,4,23.135054

## Calculating efficiency metrics

This code cell calculates the `Enhanced_efficiency` and `efficiency` columns of the `data` DataFrame based on the `input_power`, `output_power`, and `min_consumption` columns.

In [6]:
Enhanced_efficiency = []
for i in range(len(min_c)):
    Enhanced_efficiency.append(output_power[i]/random_consumption[i]*100)
data['Enhanced_efficiency'] = Enhanced_efficiency
efficiency = data['output_power']/data['min_consumption']*100
data['efficiency'] = efficiency
data.head()

,device_name,min_consumption,max_consumption,device_age,input_power,working_hours,output_power,Enhanced_efficiency,efficiency
0,bulb,100.0,120.0,3,100.310967,3,89.648287,89.370374,89.648287
1,LED TV 42 INCH,58.0,60.0,5,58.737271,10,56.690422,96.515247,97.742107
2,3''belt sander,1000.0,1000.0,4,1000.000000,8,734.753019,73.475302,73.475302
3,Air cooler,65.0,80.0,4,70.680072,22,53.410833,75.567032,82.170512
4,Air purifier,25.0,30.0,3,29.242760,4,23.135054,79.113784,92.540217

## Handling values

In [7]:
data = data.replace([np.inf, -np.inf], np.nan)
data = data.dropna()
data.head()

,device_name,min_consumption,max_consumption,device_age,input_power,working_hours,output_power,Enhanced_efficiency,efficiency
0,bulb,100.0,120.0,3,100.310967,3,89.648287,89.370374,89.648287
1,LED TV 42 INCH,58.0,60.0,5,58.737271,10,56.690422,96.515247,97.742107
2,3''belt sander,1000.0,1000.0,4,1000.000000,8,734.753019,73.475302,73.475302
3,Air cooler,65.0,80.0,4,70.680072,22,53.410833,75.567032,82.170512
4,Air purifier,25.0,30.0,3,29.242760,4,23.135054,79.113784,92.540217

## Adjusting efficiency values

In [8]:
List_efficiency = data['efficiency'].values
List_enhan_efficiency = data['Enhanced_efficiency'].values

for i in range(len(List_efficiency)):
    # if enhance efficiency is greater than enhance efficiency then minus abs value for efficiency
    if List_enhan_efficiency[i] > List_efficiency[i]:
        List_efficiency[i] = List_efficiency[i] - abs(List_enhan_efficiency[i] - List_efficiency[i])
    # if enhance efficiency is less than enhance efficiency then plus abs value for efficiency
    elif List_enhan_efficiency[i] < List_efficiency[i]:
        List_efficiency[i] = List_efficiency[i] + abs(List_enhan_efficiency[i] - List_efficiency[i])
    # if enhance efficiency is equal to enhance efficiency then plus abs value for efficiency
    else:
        List_efficiency[i] = List_efficiency[i] + abs(List_enhan_efficiency[i] - List_efficiency[i])
data['efficiency'] = List_efficiency
data['efficiency'] = data['efficiency'].apply(lambda x: 200 if x > 200 else x)
data['efficiency'] = data['efficiency'].apply(lambda x: 0 if x < 0 else x)
data['Enhanced_efficiency'] = data['Enhanced_efficiency'].apply(lambda x: 200 if x > 200 else x)
data['Enhanced_efficiency'] = data['Enhanced_efficiency'].apply(lambda x: 0 if x < 0 else x)
data.head()

,device_name,min_consumption,max_consumption,device_age,input_power,working_hours,output_power,Enhanced_efficiency,efficiency
0,bulb,100.0,120.0,3,100.310967,3,89.648287,89.370374,89.926199
1,LED TV 42 INCH,58.0,60.0,5,58.737271,10,56.690422,96.515247,98.968967
2,3''belt sander,1000.0,1000.0,4,1000.000000,8,734.753019,73.475302,73.475302
3,Air cooler,65.0,80.0,4,70.680072,22,53.410833,75.567032,88.773992
4,Air purifier,25.0,30.0,3,29.242760,4,23.135054,79.113784,105.966650

## Training a GradientBoostingRegressor model

In [9]:
X = data[['min_consumption', 'max_consumption', 'input_power']]
y = data['efficiency']
Normal = DecisionTreeRegressor()
Normal.fit(X, y)
Normal.score(X, y)
print(Normal.feature_importances_)

[0.37857567 0.430308   0.19111633]

In [10]:
#feature to predict enhanced efficiency with K-centroid
X = data[['min_consumption', 'max_consumption', 'input_power']]
y = data['Enhanced_efficiency']

In [17]:
def find_centroid(cluster):
  """
  Finds the centroid of the given cluster.

  Args:
    cluster: A list of data points.

  Returns:
    The centroid of the cluster.
  """
  # Calculate the sum of all the data points in the cluster.
  sum_of_points = sum(cluster)

  # Calculate the number of data points in the cluster.
  num_points = len(cluster)

  # The centroid is the sum of all the data points divided by the number of data points.
  centroid = sum_of_points / num_points

  return centroid

## k-centroid hierarchical clustering

In [18]:
def hierarchical_clustering(dataset, k):
  """
  Performs hierarchical clustering on the given dataset.

  Args:
    dataset: A list of data points.
    k: The number of clusters to create.

  Returns:
    A list of clusters.
  """

  # Initialize the clusters.
  clusters = [[x] for x in dataset]

  # Iterate over all pairs of clusters.
  for m in range(len(dataset) - 1):
    # Find the closest pair of clusters.
    min_distance = float('inf')
    merge_clusters = ()
    for i in range(len(clusters)):
      for j in range(i + 1, len(clusters)):
        # Calculate the distance between the two clusters.
        dist_1 = []
        dist_2 = []

        for obj in clusters[i]:
          dist_1.append(np.linalg.norm(obj - find_centroid(clusters[i])))
        for obj in clusters[j]:
          dist_2.append(np.linalg.norm(obj - find_centroid(clusters[j])))

        dist_1 = sorted(dist_1)[:k]
        dist_2 = sorted(dist_2)[:k]

        neighbors = []
        for obj1 in dist_1:
          for obj2 in dist_2:
            # Average the distances between the two objects.
            average_distance = (obj1 + obj2) / (min(k, len(dist_1)) * min(k, len(dist_2)))
            neighbors.append(average_distance)

        if average_distance < min_distance:
          min_distance = average_distance
          # The closest pair of clusters are Cu and Cv.
          merge_clusters = (i, j)

    # Merge the two closest clusters.
    merged_cluster = clusters[merge_clusters[0]] + clusters[merge_clusters[1]]
    clusters = [c for idx, c in enumerate(clusters) if idx not in merge_clusters]
    clusters.append(merged_cluster)

  # Return the list of clusters.
  return clusters

In [19]:
# Run the hierarchical clustering algorithm
clusters = hierarchical_clustering(X.values, 3)
print(clusters)

In [14]:
# Print the clusters
for i, cluster in enumerate(clusters):
    print('Cluster {}:'.format(i + 1))
    for point in cluster:
        print(point)
    print()

Cluster 1:
[ 7500.        10500.         9339.1045945]
[220.         270.         237.12151145]
[ 8000.         14000.         10909.78969797]
[2000.         3000.         2921.56217768]
[3250.         9750.         8530.85850494]
[240.        860.        833.8015235]
[6600.         8800.         8013.21057106]
[1300.         1500.         1459.81032213]
[1500.         4500.         3061.55584743]
[ 3800.        11400.        10477.9152073]
[3000.        7500.        5888.2604151]
[ 50.         100.          83.49107754]
[ 500.         1800.          927.78879434]
[5400.        6750.        6433.4039994]
[1800.         5000.         2527.14524625]
[100. 100. 100.]
[ 4.         34.          7.29195546]
[1800.         5000.         1840.39971614]
[ 875.         2300.         1473.97247046]
[4700.        4500.        4513.6672402]
[ 50.         100.          73.53862466]
[1000.         4000.         3485.16987503]
[14.        15.        14.9269791]
[3000.         3002.5        3000.44824635]
[3000.         3001.23       3000.82983209]
[35.         35.67       35.51694355]
[2000.         5000.         2938.70945703]
[400.         700.         681.95112139]
[6000.         6700.         6427.85219776]
[4000.         3000.         3674.95848762]
[1.         2.         1.18483405]
[1000.         4000.         1910.60722583]
[2600.         2600.78       2600.73757285]
[11.56       12.         11.98135168]
[20.         30.         20.69254832]
[1800.         2500.         2496.94541376]
[2000.         7000.         3088.18940673]
[1600.         3400.         1621.66111935]
[1200.        3000.        1443.8111316]
[15.         20.         18.94337931]
[3000.         3000.67       3000.16742316]
[ 999.67       1000.          999.99967699]
[20.         30.         23.16903181]
[1300.         1800.         1680.58993556]
[ 7.         40.          9.27189456]
[1300.         1800.         1509.89258605]
[2.         2.87       2.20245782]
[1500.         1500.67       1500.07877235]
[2000.         5000.         2281.34054356]
[2300.        2500.        2464.4421107]
[ 60.         240.         159.58812294]
[1400.         1800.         1601.45790916]
[ 5.         10.          9.46869507]
[ 800.         1800.         1555.45797621]
[ 700.         1800.         1712.05414754]
[ 50.         200.          68.44630432]
[5.         7.         6.48817734]
[ 600.         1700.         1190.54844263]
[1200.         1300.         1281.32015001]
[35.         40.         37.90804431]
[200.         203.         202.77658857]
[1400.         1404.         1402.88073274]
[1500. 1500. 1500.]
[300. 300. 300.]
[100.         450.         194.11997765]
[1200.         1500.         1405.56849143]
[ 50.         110.          79.37782229]
[ 500.         1500.         1360.80141047]
[ 800.         1400.          948.31414182]
[25.         30.         28.66850259]
[ 500.         1500.          829.07384861]
[1.         2.         1.64527945]
[1000.         1200.         1100.42085929]
[85.         90.         85.15050174]
[1800.         1800.38       1800.32624218]
[799.         800.         799.78003413]
[1000.         1000.56       1000.05080044]
[1999.         2000.         1999.44895652]
[1000.         1009.         1003.04818166]
[ 1.         22.          1.45056656]
[1000. 1000. 1000.]
[20.        60.        56.8754067]
[1200.        1204.        1202.2254776]
[250.         256.         252.05724663]
[50.         60.         56.60373426]
[ 800.         1100.         1065.62808837]
[228.         295.         257.29441248]
[1200. 1200. 1200.]
[1000. 1000. 1000.]
[65.         80.         70.68007193]
[160.         200.         164.89117949]
[1000.         1200.         1089.01885462]
[25.          4.         12.65796373]
[ 700.         1000.          968.90476697]
[1000.         2100.         1544.37525336]
[1200.         3600.         1678.86850756]
[700.         700.89       700.15085617]
[1500.         1500.45       1500.32165193]
[1199.         1200.67       1200.31130052]
[1200.         1202.         1200.71708571]
[4.         5.5        5.08403407]
[3.         4.5        3.42106906]
[20.         30.         23.08246247]
[600.        850.        826.0848644]
[6.         8.         7.50981738]
[8.         8.9        8.37281811]
[1100.         1104.         1100.57890685]
[1100.         1101.564      1100.36769471]
[ 400.         1400.         1372.67680987]
[400.         600.         480.70343522]
[789.         800.         792.47307948]
[1456.         1500.         1468.20026972]
[ 300.        1000.         407.6309565]
[23.3        26.6        25.80164279]
[1050.         2150.         1330.52246026]
[ 800.         1300.         1148.81888135]
[100.         200.         126.20309621]
[200.         800.         795.15211401]
[600.         800.         772.74728158]
[1000.         1400.         1296.78309129]
[500.         502.34       502.00192478]
[6.         7.         6.29325234]
[450.         600.         516.93148881]
[60.         70.         67.17412181]
[400.         700.         622.62868465]
[ 700.         1400.          731.15097433]
[25.         26.         25.22905407]
[450.         456.         452.82944965]
[450. 450. 450.]
[45.         46.5        46.25164854]
[499.67       500.         499.79290762]
[ 99.         100.          99.87378857]
[ 65.         230.          85.63516328]
[500.         505.67       501.97373397]
[4.         5.         4.81328793]
[300.         500.         306.69133864]
[40.         45.         40.68119197]
[360.         365.         360.29723457]
[300.         400.         330.48859196]
[30.         50.         36.66203791]
[400.         403.56       400.06206593]
[95.         98.         95.28146554]
[200.         203.         200.98297242]
[500.         504.         501.38963896]
[150.         156.         155.81072398]
[450.         451.         450.76185921]
[10.         15.         13.65165239]
[200.         400.         295.88763664]
[200.         400.         231.73746876]
[10.         25.         19.01563199]
[800.        900.        894.0240889]
[500.         700.         643.19905371]
[750.         755.78       751.30932532]
[1000.         1003.5        1003.42561274]
[250.         256.         254.35467417]
[3.         5.         3.22001561]
[1000.         1003.56       1002.64905289]
[750.         767.         751.39300618]
[200.        300.        299.0281438]
[26.         60.         37.34459998]
[ 5.         10.          7.55335055]
[220.         240.         220.13536155]
[798.         800.         798.54737519]
[1000.        1001.        1000.3582863]
[ 60.         500.         363.12554549]
[200.         220.         211.97546526]
[200.56       200.89       200.58481405]
[5.         5.87       5.42205608]
[ 75.         300.         173.26824612]
[300.         500.         301.01437077]
[300.         600.         572.90388668]
[300.         400.         380.13880121]
[143.        150.        149.8650574]
[11.         12.         11.90382434]
[17. 17. 17.]
[150. 150. 150.]
[300.         500.         308.48212285]
[250.         280.         266.61685071]
[148.         150.         149.06840792]
[25.         26.67       26.44520981]
[  5.         250.         165.44024689]
[55.         73.         67.80128312]
[840.         867.         857.53692363]
[960.        967.        963.7810153]
[300.         305.         301.55328407]
[200.         203.56       200.42267065]
[280.         900.         553.44558089]
[450.         900.         574.13753396]
[100.         109.         104.49272939]
[7.         7.78       7.55412975]
[70.         80.         71.78447564]
[160.         180.         171.32654287]
[ 99.678      100.          99.88548588]
[7.         8.         7.29166342]
[2.5        4.4        3.79334136]
[ 50.         110.          97.65021256]
[172.           0.          72.67177496]
[75.         80.         76.50068421]
[5.         6.         5.57469296]
[75.         78.         77.12465504]
[ 70.         150.         103.52059928]
[30.        60.        35.9676902]
[17.        20.        18.0011554]
[85.         90.         85.07029433]
[130.         150.         143.20277471]
[65.         95.         68.45156856]
[60. 60. 60.]
[120.         130.         124.74525906]
[100.         102.         100.55755449]
[40.         40.98       40.97115347]
[2.         4.         3.56717145]
[40.         80.         54.68165518]
[ 60.         150.         114.80194744]
[60.         70.         69.13785641]
[145.        150.        147.2587931]
[200.         200.67       200.06721272]
[45.         50.         49.01054285]
[ 97.8        100.          98.19590901]
[450.         456.         455.56210145]
[500.         506.         504.58577735]
[34.5        35.         34.98720394]
[83.4        83.78       83.68734369]
[100.         120.         100.31096677]
[58.         60.         58.73727104]
[15.        45.        22.7360556]
[60.         80.         69.54398061]
[240.         241.67       240.11817974]
[199.5        200.         199.86064105]
[45.         60.         51.40665663]
[ 70.        100.         98.6797053]
[100.         220.         135.85033807]
[120.         200.         195.52200795]
[0.5       1.        0.7768841]
[21.         50.         38.39056377]
[1.         3.         2.42588067]
[28.         45.         30.66770574]
[85. 85. 85.]
[116.        117.        116.7798078]
[20.         50.         31.76651867]
[3.       6.       5.242486]
[ 65.         125.          65.03369823]
[ 95.         125.         104.64888176]
[ 40.         100.          49.81068742]
[59.7        60.         59.85598362]
[25.        30.        29.2427604]
[2.         3.         2.29523637]
[10.         50.         28.27515739]
[10.         15.         12.11274726]
[25.         35.         26.95457885]
[5.         9.         8.82959132]
[15.         15.789      15.01998806]
[33.         35.         34.74588018]
[ 7.        10.         8.9802127]
[23.         30.         24.47876704]
[2.         2.5        2.47931384]
[19.         19.56       19.01990199]
[26.5        28.         26.58943885]
[40.         43.         41.03971293]
[73.         95.         85.31262671]
[77.         95.         79.14161593]
[10.        15.        10.8784261]
[10.         15.         14.67944629]
[17.         18.         17.40236598]
[19.5       20.        19.9334754]
[8.         9.         8.65331958]
[4.         7.         4.30478462]
[0.9        1.7        1.40659985]
[4.2        6.         4.86589944]
[ 1.         30.         29.12069034]
[ 9.         16.         12.46619661]
[15.         25.         17.21972612]
[2.         3.         2.96772236]
[0.6        2.8        2.23296378]
[10.         18.         16.75946004]
[23.         30.         26.02861945]
[ 1.         24.         11.53017573]
[14.         18.         16.11211076]
[28.         30.         28.04312379]
[21.         22.         21.80667972]
[15.         27.         22.11505234]
[25.         30.         26.71861816]
[ 5.        17.         6.5684462]
[ 3.         23.         15.37522807]
[3.         5.         3.23926198]
[ 5.         15.          6.37272801]
[0.7        3.         0.79995251]
[6.5        9.         7.31825922]
[ 5.         15.          6.32676153]
[3.         5.         4.42891274]
[18.         18.98       18.17460078]
[23.         25.         24.68388711]
[ 6.         18.          8.59401527]
[ 4.         18.          6.66048199]
[0.6        1.8        1.35268907]
[2.4        3.         2.96614866]
[10.        11.        10.4164478]
[13.         14.5        13.62689174]
[0.6        2.3        0.86210816]
[3.6        6.         3.69508398]

## Gradient Boosting Regressor Model with Enhanced Efficiency

In [15]:
# Print the centroids for Enhanced efficiency
for i, cluster in enumerate(clusters):
    print('Centroid {}:'.format(i + 1))
    print(find_centroid(cluster))
    print()
K_centroid = DecisionTreeRegressor()
K_centroid.fit(X, y)
K_centroid.score(X, y)
print(K_centroid.feature_importances_)

Centroid 1:
[549.50982609 855.70405686 706.77567386]

[0.22715328 0.32934793 0.44349879]

## Test input

In [16]:

test_input = [[300, 600, 400]]
test_output = Normal.predict(test_input)
print("Normal efficiency: ", test_output)
test_output = K_centroid.predict(test_input)
print("Enhanced efficiency: ", test_output)

Normal efficiency:  [128.84168386]
Enhanced efficiency:  [91.79915006]

/home/xer0bit/.local/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(
/home/xer0bit/.local/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

## Saving models

In [28]:
import pickle
try:
    os.mkdir('pretrained_model')
except:
    pass
pickle.dump(Normal, open('pretrained_model/Normal.pkl', 'wb'))
pickle.dump(K_centroid, open('pretrained_model/K_centroid.pkl', 'wb'))
print("Model saved successfully")

Model saved successfully